@import url('https://fonts.googleapis.com/css2?family=Sono&family=Titillium+Web:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300;1,300&display=swap');

$c-dark: #212129;
$c-light: #F9F9F9;
$c-parakeet: #03C04A;
$c-pistachio: #B2D3C2;
$c-emerald: #028A0F;
$c-seafoam: #3DED97;
$c-mint: #99EDC3;
$c-go-green: #00AB66;
$c-jungle-green: #29AB87;
$c-munsel-green: #00A877;

