@import './global.scss';

body {
  background-color: $c-dark;
  color: $c-light;
  font-family: 'Titillium Web', sans-serif; 
  color: $c-light;
  background: $c-dark;
}

.page {
  padding: 20px 20px 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-default {  
  font-family: 'Titillium Web', sans-serif;
}

.font-code {
  font-family: 'Sono', monospace;
}

.font-titillium {
  font-family: 'Titillium Web', sans-serif;
}

.font-pixelify {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.font-spline-sans-mono {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
p,
button 
a {
  font-family: "Spline Sans Mono", monospace;// 'Titillium Web', sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

.head-1 {
  font-size: 52px;
}

p {
  line-height: 1.5;
}


.paragraph-1 {
  font-size: 16px;
}

label {
  font-size: 16px;
}


.highlight {
  color: $c-seafoam;
  font-weight: bold;
}

a,
.link {
  text-decoration: none;
  color: $c-mint;
  transition: color 0.5s ease-out;

  &:hover {
    color: $c-parakeet;
    transition: color 0.5s ease-out;
  }
}

::selection {
  background-color: $c-mint;
  color: $c-dark;
}