@import './global.scss';

*{
  margin: 0;
  padding: 0;
}

button {
  background: none;
  margin: none;
  padding: none;
  border: none;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

img {
  user-select: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-default {  
  font-family: 'Titillium Web', sans-serif;
}

.font-code {
  font-family: 'Sono', monospace;
}

.font-titillium {
  font-family: 'Titillium Web', sans-serif;
}

.font-pixelify {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.font-spline-sans-mono {
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.c-presentation-contrast {
  color: $c-presentation-contrast;
}


.c-projects-contrast {
  color: $c-projects-contrast;
}

.c-contacts-contrast {
  color: $c-contacts-contrast;
}

.highlight {
  color: $c-seafoam;
  font-weight: bold;
}

.intro-safe-area {
  padding: rem(calc($safe-area-y / 2)) rem(calc($safe-area-x / 2)) rem(calc($safe-area-y / 2)) rem(calc($safe-area-x / 2));

  @include screen(lg) {
    padding: rem($safe-area-y) rem($safe-area-x);
  }
}

.safe-area {
  padding: rem(calc($safe-area-y /2)) rem(calc($safe-area-x /2)) rem(calc($safe-area-y /2)) rem(calc($safe-area-x /2));

  @include screen(lg) {
    padding: rem($safe-area-y) rem($safe-area-x);
  }
}

a,
.link {
  text-decoration: none;
}

::selection {
  background-color: $c-green;
  color: $c-dark;
}

.c-yellow {
  color: $c-highlight;
}